/* start variables */
    :root{
        --main-color:#1F373D;
        --second-color:#FFCC01;
    }
/* end variables */
/* start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    scroll-behavior: smooth ;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color);
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
::selection{
    background-color: var(--second-color);
}
.main-heading{
    text-align: start;
    width: 350px;
}
.main-heading h2,.sec-heading h2{
    font-weight: 500;
    margin-bottom: 10px;
}
.main-heading h2{
    font-size: 40px;
}
.main-heading p , .sec-heading p{
    color: #777;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 6px;
}

@media(min-width:768px){
    .container{
        width: 750px;
    }
}
/* medium */
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
/* large  */
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* end global rules */
header{
    padding-top: 20px;
    padding-bottom: 20px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 40px;
}
header a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 14px;
    transition: .5s;
}
header .logo{
    font-size: 20px;
    font-weight: 700;
}
header nav{
    display: flex;
}
@media(max-width:991px){
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:991px){
    header nav ul{
        display: none;
    }
}
header nav ul li {
    padding: 10px;
}
header a:hover{
    color: var(--second-color);
}
header .get-start{
    margin-left: 20px;
    background-color: var(--second-color);
    padding: 10px 40px;
    border-radius: 5px;
    border:1px solid var(--second-color);
    transition: .5s;
}
@media(max-width:991px){
    header .join{
        display: none;
    }
}
header .get-start:hover{
    border: 1px solid var(--second-color);
    background-color: white;
}
header .bars{
    font-size: 30px;
}
@media(min-width:992px){
    header .bars{
        display: none;
    }
}
@media(max-width:991px){
    header .bars:hover + ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    z-index: 99;
    left: 84%;
    background-color: var(--second-color);
}
header .bars:hover + ul li:hover{
    font-weight: bold ;
    color: var(--main-color);
}
}
.landing {
    padding-top: 20px;
    padding-bottom: 20px;
}
@media(max-width:767px){
    .landing {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: -130px;
    }
}
.landing .container{
    position: relative;
}
.landing .title{
    position: absolute;
    z-index: 2;
    bottom: 40%;
    transform: translateY(-50%);
    left: 60px;
}
@media(max-width:767px){
    .landing .title{
        position: relative;
        z-index: 2;
        bottom: -205px;
        left: -4px;
    }
}
.landing .title h2{
    font-size: 40px;
    margin-bottom: 20px;
}
@media(max-width:767px){
    .landing .title h2{
        font-size: 25px;
        margin-bottom: 20px;
    }
}
.landing .title .search{
    position: relative;
}
.landing .title .search i{
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    color: #77777794;
    left: 16px;
}
.landing .title .search input{
    overflow: visible;
    padding: 15px 45px;
    border: none;
    box-shadow: 1px 1px 5px 2px #777;
    border-radius: 12px;
    outline: none;
}
@media(max-width:767px){
    .landing .title .search input{
        overflow: visible;
        padding: 15px 3px;
        border: none;
        position: relative;
        box-shadow: 1px 1px 5px 2px #777;
        border-radius: 12px;
        outline: none;
    }
}
.landing .title .search button{
    padding: 15px 20px;
    border: none;
    background-color: var(--second-color);
    position: absolute;
    right: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px #777;
    cursor: pointer;
}
@media(max-width:767px){
    .landing .title .search button{
        padding: 15px 10px;
        border: none;
        background-color: var(--second-color);
        border-radius: 5px;
        position: absolute;
        left: 180px;
        box-shadow: 1px 1px 5px 2px #777;
    }
}
.landing .background{
    text-align: center;
}
.landing .background img{
    border-radius: 10px;
    max-width: 100%;
}
.landing .find{
    position: absolute;
    bottom: 4px;
    background-color: var(--second-color);
    right: 65px;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    z-index: 2;
}
@media(max-width:767px){
    .landing .find{
        position: relative;
        background-color: var(--second-color);
        border-radius: 10px;
        display: flex;
        align-items: center;
        z-index: 2;
        width: fit-content;
        padding: 10px 11px;
        margin: auto;
        top: -40px;
        left: 0;
    }
}
.landing .find i{
    font-size: 20px;
}
.landing .find span{
    font-weight: 600;
    margin: 10px;
}
@media(max-width:767px){
    .landing .find span{
        font-weight: 600;
        margin: 10px;
        font-size: 13px;
    }
}
.stat{
    margin-top: 80px;
}
.stat .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-gap: 50px;
}
.stat .text h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}
.stat .text p{
    color: #777;
    line-height: 1.6;
    margin-bottom: 20px;
}
.stat .boxs{
    display: flex;
    flex-wrap: wrap;
    perspective: 400px;
    perspective-origin:center;
}
.stat .boxs .box{
    padding: 17px;
    background-color: #ebebeb;
    margin: 10px;
    width: 44%;
    height: 175px;
    text-align: center;
    padding-top: 28px;
    transition: .5s;
    perspective: 400px;
    perspective-origin: top;
}
.stat .boxs .box:hover{
    transform: translatez(20px);
}
.stat .boxs .box .num{
    color: var(--second-color);
    font-weight: 600;
    font-size: 50px;
}
.stat .boxs .box p{
    margin-top: 50px;
    font-weight: 600;
}
.appartments-sec{
    margin-top: 80px;
}
.appartments-sec h2{
    font-weight: 500;
    font-size: 40px;
}
.appartments{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(275px,1fr));
    grid-gap: 45px;
    margin-top: 40px;
    row-gap: 30px;
}
.appartment{
    box-shadow: 1px 1px 30px 1.3px #00000021;
    overflow: hidden;
    height: 380px;
}
.appartment img{
    transition: .5s;
}
.appartment .box{
    background-color: white;
    height: 100px;
    position: relative;
    bottom: -119px;
    transition: .5s;
    padding-left: 20px;
}
.appartment:hover .box{
    bottom: 116px;
}
.appartment:hover img{
    transform: rotate(3deg) scale(1.1);
}
.appartment .box p{
    margin-top: 15px;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 37px;
}
.appartment .box .cost{
    display: inline;
    margin-right: 113px;
    color: var(--second-color);
    font-weight: 700;
    font-size: 20px;
}
.appartment .box i{
    margin-left: 5px;
    margin-right: 2.5px;
}
.appartment .box span{
    color: #777;
}
.work{
    margin-top: 80px;
}
.work .how-work{
    width: 350px;
    line-height: 1.6;
}
.work .how-work h2{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 10px;
}
.work .how-work p{
    color: #777;
    font-size: 15px;
    margin-bottom: 40px;
}
.work .flex{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    perspective: 400px;
    perspective-origin: center;
}
.work .find-location{
    flex-basis: 35%;
    background-color: #ffffff;
    box-shadow: 0px 0.5px 4px 0px #00000066;
    height: 300px;
    overflow: hidden;
    position: relative;
    text-align: start;
    transition: .5s;
}
.work .find-location:hover{
    transform: translatez(20px);
    background-color: #FFCC01;
}
.work .find-location >span{
    left: -36px;
    font-size: 121px;
    font-weight: 500;
    position: absolute;
    top: -45px;
}
.work .find-location .title p:nth-of-type(1){
    margin-left: 5px;
    display: inline-block;
    font-weight: 700;
}
.work .find-location .title >span{
    display: inline-block;
    margin: 100px 20px 20px;
    font-weight: 600;
}
.work .find-location .title+ p{
    margin-left: 70px;
    line-height: 1.6;
    color: #777;
    font-size: 14px;
}
.work .find-location a{
    background-color: transparent;
    display: block;
    margin-top: 40px;
    margin-left: 75px;
    color: var(--main-color);
}
.services{
    padding-top: 80px;
}
.services .sections{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(375px,1fr));
    gap: 10px;
    margin-top: 30px;
}
.services .img{
    order: -1;
    margin-top: 25px;
}
.services .img img{
    border-style: none;
    max-width: 500px;
    border-radius: 10px;
}
@media(max-width:767px){
    .services .img img{
        display: none;
    }
}
.services .sec{
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 15px;
}
.agents{
    margin-top: 80px;
}
.agents .agent-flex{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(290px,1fr));
    gap: 30px;
    padding-top: 55px;
    padding-bottom: 55px;
}
.agents .agent-flex .agent{
    box-shadow: 1px 1px 5px 5px #0000001a;
    transition: .5s;
}
.agents .agent-flex .agent img{
    max-width: 100%;
}
.agents .agent-flex .agent:hover{
    box-shadow: 1px 1px 6px 5px #777777a6;
}
.agent-flex .agent .text{
    display: flex;
    justify-content: space-between;
}
.agent-flex .agent .agent-name{
    margin-left: 20px;
}
.agent-flex .agent .agent-name span{
    display: block;
    font-weight: 600;
    margin: 15px 0 15px;
}
.agent-flex .agent .agent-name p{
    margin-bottom: 15px;
    color: var(--second-color);
    font-weight: 500;
}
.agent-flex .agent .social-icons{
    color: var(--main-color);
    display: flex;
    gap: 20px;
    align-items: flex-end;
    margin-bottom: 15px;
    margin-right: 10px;
}
.super-add{
    margin-top: 80px;
}
.super-add .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(361px,1fr));
    grid-gap: 30px;
}
.super-add .sec-heading{
    position: relative;
    max-width: 350px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.super-add .img{
    position: relative;
    width: 350px;
}
.super-add .img img{
    max-width: 350px;
}
.super-add .img::before{
    content: "Melbourne,Australia";
    position: absolute;
    width: 260px;
    height: 40px;
    background-color: var(--second-color);
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.super-add i{
    position: absolute;
    bottom: 12px;
    right: 267px;
    font-size: 20px;
}
.super-add a{
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    width: 184px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
footer{
    margin-top: 80px;
    background-color: var(--main-color);
    color: white;
}
.footer-header{
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 10px;
}
.footer-header::before{
    content: "";
    border: 1px solid #ffffff70;
    position: absolute;
    bottom: -60px;
    right: 0;
    width: 100%;
}
.footer-header .logo h3{
    font-size: 35px;
    font-weight: 500;
    margin-top: 30px;
}
@media(max-width:767px){
    .footer-header .logo h3:nth-child(2){
        display: none;
    }
}
.footer-header .search input{
   border-radius: 6px;
    margin-top: 160px;
    padding: 9% 22%;
    transform: translateX(-141px);
}
.footer-body h3{
    padding: 30px;
    display: inline;
    margin-left: -28px;
    font-size: 20px;
}
.footer-body .flex-footer{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    padding-top: 30px;
    padding-left: 68px;
    gap: 24px;
}
.flex-footer .col h3{
    color: #64777cf5;
}
.flex-footer .col a{
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 20px;
}
.footer-body p{
    text-align: center;
    padding-top: 60px;
}
#goup{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 20px;
    border-radius: 50%;
    background: var(--second-color);
    border: none;
    color: var(--main-color);
}